$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#app {
  width: 860px;
  margin: 0px auto;
}

.content {
  width: 860px;
  border: 1px solid #008000;
}

.search-form {
  padding: 20px;
  width: 860px;
  form {
    width: 70%;
    margin: 0 auto;
  }
}

.tab-content {
  width: 860px
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.y-axis {

}

.field-shadow {
  position: absolute;
  background: none;
  display: block;
  padding: 20px;
  font-size: 13px;
  margin: 0;
  top: 0;
  left: 0;
  width: 300px;
  height: 48px;
  border: none;
}

.field-shadow:focus {
  border: none;
}

.field-shadow-wrapper {
  width: 300px !important;
  height: 50px;
  position: relative;

}

.field-shadow-bg {
  color: #adadad;
}

#map-canvas {
  margin: 0;
  padding: 0;
  position: relative;
  width: 860px;
  height: 400px
}

.search-form form {
  position: relative;
  width: 400px;
}

.auto-complete-list {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid lightgray;
  width: 300px;
  li {
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
    list-style: none;
    cursor: pointer;
  }
  li:last-child {
    border: none;
  }

  li:hover {
    background-color: #6cb1e6;
  }
  .selected {
    background-color: lightblue;
  }
}

.tab-content {
  margin-top: 20px;

}

.domain, .axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

td {
  padding: 0px 10px;
}

.price-col {
  width: 15%;
  text-align: right;

}

.published-col {
  text-align: right;
  width: 15%;

}

.bedrooms-col {
  width: 15%;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

pre {
  display: block;
  background-color: pink;
  padding: 10px;
  margin: 10px 0;
}





