.content {
  @include clearfix;
  @media (min-width: $tablet_and_larger) {
    float: left;
    width: calc(100% - (4em + 200px));
  }
  .content {
    width: 860px;
    border: 1px solid #008000;
  }

  .tab-content {
    width: 860px
  }

  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  .tab-content {
    margin-top: 20px;

  }
}


#app {
  width: 860px;
  margin: 0px auto;
}

#map-canvas {
  margin: 0;
  padding: 0;
  position: relative;
  width: 860px;
  height: 400px

}



