
a { color: #00bed5;}

body {
  background-color: white;
  font-family: $base-font-family;
  padding: $global-margin;
}
h2 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
}

h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.5em;
}


