
.nav {
}

.container {
  @include clearfix;
  margin: $global-margin;
  width: calc(100% - 2em);
  .header {
    margin-top: $global-margin;
  }
  .footer {
    margin-top: $global-margin;
  }
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

$preloaderColor: rgba(165, 202, 255, 0.2);
.loader {
  margin: 20% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $preloaderColor;
  border-right: 1.1em solid $preloaderColor;
  border-bottom: 1.1em solid $preloaderColor;
  border-left: 1.1em solid #A5C9FF;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: preloaderFrames 1.1s infinite linear;
  animation: preloaderFrames 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes preloaderFrames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloaderFrames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#map-canvas {
  position: relative;
  width: 100%;
  height: 800px;
}
#app {
  position: relative;
}

.btn-toolbar {
}
