
.nav {
}

.container {
  @include clearfix;
  margin: $global-margin;
  width: calc(100% - 2em);
  .header {
    margin-top: $global-margin;
  }
  .footer {
    margin-top: $global-margin;
  }
}
#map-canvas {
  position: relative;
  width: 100%;
  height: 800px;
}
#app {
  position: relative;
}

.btn-toolbar {
}
