.page {
  min-width: $min-width;
  // Here I limit the page width to 860 pixels, because that his the
  // number I got by measuring the supplied wire-frames, it's not too much troubles to
  // add new break points any way.

  margin: 0 auto;

  //-- hard limit
  max-width: $max-width;
  position: relative;
}

section {
 margin: $global-margin;
 }

.row {
// nothing at the moment
}

.col {
// nothing at the moment
}

