.auto-complete-list {
  position: absolute;
  z-index: 1000;
  min-width: 310px;
}

.field-shadow-bg {
  color: #adadad;
}

.input-group {
  min-width: 310px;
}
.input-group {
  min-width: 310px;
}
.input-group {
  min-width: 310px;
}

